.contents{
	width: 100%;
	padding: 10px 10px;
	height: calc(100% - 70px);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.cont1{
	width: 100%;
	height: calc(50% - 5px);
}
.cont1L,.cont1R{
	width: calc(100% - 10px);
    height: 100%;
    border: 1px solid #004672;
    border-radius: 4px;
}
.cont1R{
	width: 100%;
}


#hmi{
	width: 35%;
	height: 100%;
}
.cont1LR{
	width: 65%;
	height: 100%;
}
.cont1LRT{
	width: 100%;
	height: 30px;
	text-align: center;
	margin-top: 10px;
	color: #ccd3e2;
	position: relative;
}
.cont1LRT span:nth-child(1){
	font-size: 16px;
}
.cont1LRT span:nth-child(2){
	margin-left: 10px;
}
.cont1LRT span:nth-child(2) b:nth-child(1){
	color: #3BDB1B;
}
.cont1LRT span:nth-child(3){
	margin-left: 10px;
	cursor: pointer;
}
.cont1LRT span:nth-child(3) b:nth-child(1){
	color: #009bfe;
}


.cont1LRT1{
	display: none;
	width: 195px;
	height: 200px;
	box-sizing: border-box;
	background-color: #000000;
	border: 1px solid #189CF0;
	border-radius: 4px;
	position: absolute;
	top: 25px;
	right: calc(50% - 260px);
	z-index: 999;
	overflow-y: auto;
}
.cont1LRT1 ul{
	padding: 10px;
}
.cont1LRT1 ul li{
	margin-bottom: 5px;
}
.cont1LRT1 ul li span{
	display: block;
	line-height: 20px;
	height: 20px;
	text-align: center;
	color: #CCD3E2;
}
.cont1LRT1 ul li span:nth-child(1){
	width: 20px;
	border-radius: 4px;	
}
.cont1LRT1 ul li span:nth-child(2){
	width: 90px;
	margin-left: 10px;
	text-align: left;
}
.cont1LRT1 ul li span:nth-child(3){
	width: 40px;
	margin-left: 10px;
}










.cont1LRB{
	width: 100%;
	height: calc(100% - 40px);
}
.cont1LRBL{
	width: calc(100% - 220px);
	margin: 10px 15px;
	height: calc(100% - 20px);
}

.cont1LRBLT{
	width: 94%;
	height: 16%;
	margin-top: 20px;
}
.cont1LRBLT span{
	display: block;
	width: 25%;
	text-align: center;
	line-height: 30px;
	color: #ccd3e2;
}

.cont1LRBL ul{
	width: 100%;
	height: 70%;
}
.cont1LRBL ul li{
	width: 100%;
	height: 25%;
	min-height: 40px;
	cursor: pointer;	
}
.cont1LRBL ul li:hover{
	background: url(../images/HMI/img_HMI_lb.png) 100% no-repeat;
	background-size: 100% 100%;
}
.cont1LRBL ul li.hovers{
	background: url(../images/HMI/img_HMI_lb.png) 100% no-repeat;
	background-size: 100% 100%;
}
.cont1LRBL ul li .lis{
	width: 94%;
	height: 100%;
	border-top: 1px solid #ccd3e2;
}
.cont1LRBL ul li:last-child .lis{
	border-bottom: 1px solid #ccd3e2;
}
.cont1LRBL ul li{
	line-height: 3em;
}
.cont1LRBL ul li:nth-child(2) span:nth-child(1){
	line-height: 1.5em;
}
.cont1LRBL ul li:nth-child(3) span:nth-child(1){
	line-height: 1.5em;
}
.cont1LRBL ul li:nth-child(4) span:nth-child(1){
	line-height: 1.5em;
}
.cont1LRBL ul li span{
	display: block;
	width: 25%;
	height: 100%;
	text-align: center;
	color: #ccd3e2;
}
.cont1LRBL ul li span:nth-child(1){
	border-right: 1px solid #ccd3e2;
}





.cont1LRBR{
	width: 170px;
	padding: 0 5px;
	height: calc(100% - 45px);
	min-height: 180px;
	margin-top: 35px;
	border-radius: 4px;
	background: url(../images/HMI/img_HMI_lb2.png) 100% no-repeat;
	background-size: 100% 100%;
}
.cont1LRBR p{
	width: 100%;
	margin-top: 5px;
	color: #ccd3e2;
	text-align: center;
}
.cont1LRBR ul{
	width: 160px;
	height: calc(100% - 25px);	
	margin-top: 5px;
}
.cont1LRBR ul li{
	width: 160px;
	height: 16%;
}
.cont1LRBR ul li span{
	display: block;
	height: 20px;
	font-size: 13px;
	line-height: 20px;
	color: #ccd3e2;
	text-align: center;
}
.cont1LRBR ul li span:nth-child(1){
	width: 16px;
	border-radius: 4px;
}
.cont1LRBR ul li span:nth-child(2){
	width: 90px;
	margin-left: 10px;
	text-align: left;	
}
.cont1LRBR ul li span:nth-child(3){
	width: 40px;
	line-height: 20px;
}



.cont1R a.titles{
	width: 200px;
	margin: auto;
	margin-top: 10px;
}
.cont1R1{
	width: 100%;
	height: calc(100% - 34px);
}
#coal{
	width: calc(100% - 180px);
	height: 100%;
}
.cont1R1 .cont1R1R{
	width: 180px;
	height: 100%;
}

.cont1R1RR{
	width: 96%;
	height: 100%;
	margin-top: 2rem;
}

.cont1R1RRT{
	width: 100%;
	height: 2rem;
}
.cont1R1RRT span{
	display: block;
	width: 30%;
	height: 2rem;
	line-height: 2rem;
	color: #CCD3E2;
	text-align: center;
}
.cont1R1RRT span:nth-child(1){
	width: 40%;
	border-right: 1px solid #CCD3E2;
}

.cont1R1RR ul{
	width: 100%;
	height: calc(100% - 2rem);
}

.cont1R1RR ul li{
	width: 100%;
	height: 3rem;
}
.cont1R1RR ul li{
	border-top: 1px solid #CCD3E2;
}
.cont1R1RR ul li:last-child{
	border-bottom: 1px solid #CCD3E2;
}
.cont1R1RR ul li span{
	display: block;
	width: 30%;
	height: 3rem;
	line-height: 3rem;
	color: #CCD3E2;
	text-align: center;
}
.cont1R1RR ul li span:nth-child(1){
	width: 40%;
	border-right: 1px solid #CCD3E2;
}






.cont2{
	margin-top: 10px;
	border: 1px solid #004672;
    border-radius: 4px;
    width: 100%;
	height: calc(50% - 5px);
}

.cont21{
	width: 100%;
	height: 100%;
}
.cont21 .cont21L{
	width: calc(100% - 333px);
	height: 100%;
	position: relative;
}
.cont21 .cont21L h3{
    width: 100%;
    color: #CCD3E2;
    text-align: center;
    margin-top: 10px;
}
#guolu,#havc{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#havc{
	z-index: -1;
}

.cont21LT{
	position: absolute;
	top: 10px;
	right: 30px;
	z-index: 999;
}
.cont21LT>span{
	display: block;
	width: 70px;
	height: 30px;
	padding: 0 5px;
	line-height: 30px;
	color: #CCD3E2;
	font-size: 14px;
	border-radius: 4px;	
	cursor: pointer;
}
.cont21LT>span:first-child{
	background-color: rgba(0,155,255,0.25);
}

.cont21>span{
	display: block;
	width: 1px;
	margin: 0 10px;
	height: 100%;
}
.cont21>span img{
	width: 100%;
	height: 100%;
}
.cont21 .cont21R{
	width: 300px;
	height: 100%;
}
.cont21 .cont21R .cont21RT{
	width: 100%;
	height: 100%;
}

.cont21 .cont21R .cont21RT .cont21RT1{
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.cont21 .cont21R .cont21RT .cont21RT1>span{
	display: block;
	height: 100%;
	text-align: center;
	line-height: 30px;
	color: #CCD3E2;
}
.cont21 .cont21R .cont21RT .cont21RT1>span:nth-child(1){
	color: #009bfe;
	width: 130px;
	cursor: pointer;
}
.cont21 .cont21R .cont21RT .cont21RT1>span:nth-child(2){
	width: 40px;
}
.cont21 .cont21R .cont21RT .cont21RT1>span:nth-child(3){
	width: 90px;
}
.cont21 .cont21R .cont21RT .cont21RT1>span:nth-child(4){
	width: 40px;
}


.cont21 .cont21R .cont21RT>ul{
	width: 100%;
	height: calc(100% - 30px);
}
.cont21 .cont21R .cont21RT>ul li{
	width: 100%;
	height: 10%;
}
.cont21 .cont21R .cont21RT>ul li span{
	display: block;
	height: 100%;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
	color: #CCD3E2;
}
.cont21 .cont21R .cont21RT>ul li .lis{
	width: 130px;
}
.cont21 .cont21R .cont21RT>ul li .lis .liss{
	width: 93px;
	margin: auto;
}
.cont21 .cont21R .cont21RT>ul li .lis .liss>.span1{
	width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 2px;
    margin-right: 5px;
    text-align: center;
}
.cont21 .cont21R .cont21RT>ul li .lis .liss>.span2{
	color: #009bfe;
	text-align: left;
}
.cont21 .cont21R .cont21RT>ul li>.span3{
	width: 40px;
}
.cont21 .cont21R .cont21RT>ul li>.span4{
	width: 90px;
}
.cont21 .cont21R .cont21RT>ul li>.span5{
	width: 40px;
}






