



.device_si{
	height: 98% !important;
	padding-bottom: 15px;
	border: 1px solid #004672;
	border-radius: 4px;
}
h5{
	text-align: center;
	font-size: 16px;
}
h6{
	text-align: center;
	padding-right: 15px;
}
.device_si a{
	color: #009BFE !important;
}
.hos_index{
	position: absolute;
	min-width: 60%;
	height: 60%;
    right: 10px;
    bottom: 10px;
    padding: 5px;
   overflow: hidden;
   background: rgba(28, 92, 151, 0.26);
}
.hos_index_div>div{
	min-width: 120px;
	font-size: 12px;
}

.top5>div,.top5>h5 {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}
.lable_right{
	text-align: right;
	padding: 10px 10px;
}
.row_device>div>div{
	border: 1px solid #454545;
	margin: 5px 5px;
	border-radius: 4px;
	height: 90%;
	
}
.row_device_index>div{
	height: 100%;
	font-size: 12px;
}
.row_device_index{
	height: 100%;
}
.nuber{
    font-size: 14px;
    height: 10px;
    line-height: 10px;
    color: #009BFE;
    margin-top: 5px;
    font-weight: bold;
}



  /* css resize */
@media screen and (min-width: 1400px) {
	.hos_index_div>div{
		min-width: 120px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
	}
	.hos_index_div2>div{
		font-size: 14px;
		height: 30px;
		line-height: 30px;
	}
	h6{
		font-size: 14px
	}
.nuber{
	font-size: 20px;
	font-weight: bolder;
	margin-top: 50px;
}
.bg_img1{
	background: url('images/')
}
.top5>div,.top5>h5{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}


}

